@import "functions";
@import "breakpoints";

body {
  background-color: var(--cream);
  max-width: 100vw;
  max-height: 100vh;
}

main {
  @include md {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

hr {
  border: 2px solid var(--cream);
}

.container {
  display: flex;
  flex-direction: column;
  gap: rem(30);
  margin: 1rem;

  @include md {
    width: rem(550);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    background-color: var(--red);
    padding: 1.5rem 2rem;
    color: var(--pale);
    border-radius: rem(10);
  }

  &__subheader {
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 700;

    @include md {
      font-size: 1.6rem;
    }
  }

  &__logo {
    max-width: rem(80);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    background-color: var(--pale);
    padding: 2rem 1.5rem;
    border-radius: rem(10);
    color: var(--dark);
  }

  &__bars {
    height: rem(220);
    width: 100%;
  }

  &__stats {
    color: var(--brown);
    font-size: .9rem;

    @include md {
      font-size: 1.1rem;
    }

    span {
      color: var(--dark);
      font-weight: 700;
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      div {
        flex-direction: column;
        justify-content: end;
        align-items: flex-end;
      }
    }
  }

  &__total {
    font-size: 1.8rem;
    font-weight: 700;

    @include md {
      font-size: 2.5rem;
    }
  }
}