:root {
  // primary
  --red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);

  // secondary
  --dark: hsl(25, 47%, 15%);
  --brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --pale: hsl(33, 100%, 98%);
}